<div class="lobby">
    <div class="wallpaper"></div>
    <div class="form-container">
        <form action="/login" method="POST">
            <h2>How can people call you</h2>
            <div class="form-group">
                <label for="username">Enter your name/nickname here</label>
                <input class="form-control" type="text" name="username" id="username">
            </div>
            <div class="form-group">
                <h2>Choose Your Avatar</h2>
                <div class="demoAvatar">
                    <img src="/images/avatar/avatar1.png">
                </div>
            </div>
            <div class="form-group">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="row">
                                <label class="picture">
                                    <input type="radio" name="userAvatar" value="picture-1">
                                    <img src="/images/avatar/avatar1.png" alt="Picture 1">
                                </label>
                                <label class="picture">
                                    <input type="radio" name="userAvatar" value="picture-2">
                                    <img src="/images/avatar/avatar2.jfif" alt="Picture 2">
                                </label>
                                <label class="picture">
                                    <input type="radio" name="userAvatar" value="picture-3">
                                    <img src="/images/avatar/avatar3.jpg" alt="Picture 3">
                                </label>
                            </div>
                            <div class="row">
                                <label class="picture">
                                    <input type="radio" name="userAvatar" value="picture-4">
                                    <img src="/images/avatar/avatar4.jpg" alt="Picture 4">
                                </label>
                                <label class="picture">
                                    <input type="radio" name="userAvatar" value="picture-5">
                                    <img src="/images/avatar/avatar5.jpg" alt="Picture 5">
                                </label>
                                <label class="picture">
                                    <input type="radio" name="userAvatar" value="picture-6">
                                    <img src="/images/avatar/avatar6.jfif" alt="Picture 6">
                                </label>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="row">
                                <label class="picture">
                                    <input type="radio" name="userAvatar" value="picture-7">
                                    <img src="/images/avatar/avatar7.jpg" alt="Picture 7">
                                </label>
                                <label class="picture">
                                    <input type="radio" name="userAvatar" value="picture-8">
                                    <img src="/images/avatar/avatar8.jpeg" alt="Picture 8">
                                </label>
                                <label class="picture">
                                    <input type="radio" name="userAvatar" value="picture-9">
                                    <img src="/images/avatar/avatar9.jpg" alt="Picture 9">
                                </label>
                            </div>
                            <div class="row">
                                <label class="picture">
                                    <input type="radio" name="userAvatar" value="picture-10">
                                    <img src="/images/avatar/avatar10.png" alt="Picture 10">
                                </label>
                                <label class="picture">
                                    <input type="radio" name="userAvatar" value="picture-11">
                                    <img src="/images/avatar/avatar11.jfif" alt="Picture 11">
                                </label>
                                <label class="picture">
                                    <input type="radio" name="userAvatar" value="picture-12">
                                    <img src="/images/avatar/avatar12.jpg" alt="Picture 12">
                                </label>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="row">
                                <label class="picture">
                                    <input type="radio" name="userAvatar" value="picture-13">
                                    <img src="/images/avatar/avatar13.png" alt="Picture 13">
                                </label>
                                <label class="picture">
                                    <input type="radio" name="userAvatar" value="picture-14">
                                    <img src="/images/avatar/avatar14.png" alt="Picture 14">
                                </label>
                                <label class="picture">
                                    <input type="radio" name="userAvatar" value="picture-15">
                                    <img src="/images/avatar/avatar15.jpg" alt="Picture 15">
                                </label>
                            </div>
                            <div class="row">
                                <label class="picture">
                                    <input type="radio" name="userAvatar" value="picture-16">
                                    <img src="/images/avatar/avatar16.jpg" alt="Picture 16">
                                </label>
                                <label class="picture">
                                    <input type="radio" name="userAvatar" value="picture-17">
                                    <img src="/images/avatar/avatar17.jfif" alt="Picture 17">
                                </label>
                                <label class="picture">
                                    <input type="radio" name="userAvatar" value="picture-18">
                                    <img src="/images/avatar/avatar18.jpg" alt="Picture 18">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-pagination"></div>                  
                </div>     
            </div>
            <div class="form-group" style="margin-top: 2rem;">
                <button type="submit">Send</button>
            </div>
            

        </form>
        
    </div>
     
</div>